.event__field-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 5px 2px;
  margin-right: 18px;
  border-bottom: 1px solid #0d8ae4;
}

.event__input {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.event__input--time {
  width: 130px;
  text-align: center;
}
