.page-header {
  padding-top: 23px;
  color: #ffffff;
  background-color: #078ff0;
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
  background-image: url("../img/header-bg@2x.png");
  }
}

.page-header__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-left: 110px;
}

.page-header__logo {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 18px;
}

.page-body__container {
  -ms-flex-positive: 1;
      flex-grow: 1;
  position: relative;
  z-index: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 130px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.58);
  }
}

.trip-main {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 10px;
}

.trip-main__trip-info {
  width: 100%;
  margin-bottom: 35px;
}

.trip-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
}

.trip-info__main {
  width: 600px;
}

.trip-info__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
}

.trip-info__dates {
  margin: 0;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.8;
}

.trip-info__cost {
  width: 170px;
  margin: 0 0 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

.trip-main__trip-controls {
  margin-top: 36px;
  width: 600px;
}

.trip-main__event-add-btn {
  min-width: 170px;
  margin-left: auto;

  &::before {
    content: "\002B\000A0";
  }
}

.page-body__page-main {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.trip-events {
  padding-top: 22px;
}
