.trip-main__trip-info {
  width: 100%;
  margin-bottom: 35px;
}

.trip-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
}

.trip-info__main {
  width: 600px;
}

.trip-info__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
}

.trip-info__dates {
  margin: 0;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.8;
}

.trip-info__cost {
  width: 170px;
  margin: 0 0 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
