.event__offer-selector {
  margin-bottom: 6px;

  &:not(:last-of-type) {
    margin-right: 6px;
  }
}

.event__offer-label {
  display: block;
  padding: 22px 30px 21px;
  font-size: 17px;
  line-height: 21px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f2f2f2;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(13, 138, 228, 0.6);
  }

  &::first-letter {
    text-transform: capitalize;
  }
}

.event__offer-checkbox:checked + .event__offer-label {
  background-color: #0d8ae4;
}
